* {
    margin: 0;
    padding: 0;
}
.footer {
    width: 100%;
    height: 50px;
    color: black;
    display: flex;
    margin: 0 auto;
    background-color: #ffffffe6;
    justify-content: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
}